body {
    height: 100%;
    position: relative;
}


/*Styling the header*/

header {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url(./resources/scaryWoods.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    overflow: hidden;
}


/*Style the quote that is found on the main page*/

#main .quoteOfTheDay {
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: #cc0000;
    text-shadow: 2px 2px 2px black, -2px -2px 2px black, 4px 4px 3px white, -4px -4px 3px white;
    font-size: 4em;
    /*background: linear-gradient(to right, #bc0505, #e09d9d, #bc0505);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    font-family: 'Creepster', cursive;
    /*font-family: "Fredericka the Great", cursive;*/
}


/*Style the byline for the quote on the main page*/

#main .byLine {
    position: absolute;
    top: 55%;
    left: 55%;
    transform: translate(-50%, -50%);
    color: #cc0000;
    text-shadow: 2px 2px 2px black, -2px -2px 2px black, 4px 4px 3px white, -4px -4px 3px white;
    font-size: 3em;
    /*background: linear-gradient(to right, #bc0505, #e09d9d, #bc0505);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    /*font-family: "Fredericka the Great", cursive;*/
    font-family: 'Creepster', cursive;
}


/*This section styles the title that is found in the pages of the book*/

.title {
    position: absolute;
    font-family: 'Eater', cursive;
    color: #cc0000;
    text-shadow: 2px 2px 2px black, -2px -2px 2px black, 4px 4px 3px white, -4px -4px 3px white;
    /*background: linear-gradient(to right, #056817, #72cc82, #056817);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    font-size: 5em;
    top: 1%;
    left: 10%;
}


/*This is the styling for the div that holds the thumbnails*/

.bookImage {
    top: 50vh;
    left: 35%;
    position: relative;
    width: 200px;
    /*height: 700px;*/
    transform: translate(-50%, -50%);
}


/* Styling the anchor tags in the bookImage div*/

.bookImage a {
    box-shadow: 3px 3px 3px gray;
}


/*Styling the actual pages for the books*/

.goblinQuestBook {
    position: absolute;
    color: white;
    text-shadow: 2px 2px 2px black;
    background-image: url("./resources/newSpookyWoods.jpg");
    background-size: cover;
    /*background: radial-gradient(#145604, #2ece06, #145604);*/
    box-shadow: 3px 3px 3px white, -3px -3px 3px white, 5px 5px 3px black, -5px -5px 3px black;
    width: 75%;
    height: 75%;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 7px;
}


/*Positioning the button within the reading pane*/

.goblinQuestBook button {
    position: absolute;
    padding: 10px 10px 10px 20px;
}


/*Positioning the text withing the reading pane*/

.goblinQuestBook p {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}


/*Styling and positioning the text for choice 1 */

.choiceOne {
    position: absolute;
    top: 75%;
    left: 5%;
    text-align: center;
}


/*Styling and positioning the button for choice 1*/


/*.choiceOne button {
    margin: 10px;
    box-shadow: 3px 3px 3px gray;
}*/

.choiceOneButton {
    background-color: #cc0000;
    color: white;
    box-shadow: 2px 2px 2px white;
}


/*Styling and positioning the text for choice 2 */

.choiceTwo {
    position: absolute;
    top: 75%;
    left: 75%;
    text-align: center;
}

.playTTS {
    position: absolute;
    top: 75%;
    left: 45%;
}

.reset {
    position: absolute;
    background-color: black;
    color: red;
    top: 85%;
    left: 45%;
    text-align: center;
    box-shadow: 3px 3px 3px white;
}


/*Styling and positioning the button for choice 2*/


/*.choiceTwo button {
    margin: 10px;
    box-shadow: 3px 3px 3px lightgray;
}*/

.thunderGoblinOne {
    position: absolute;
    width: 200px;
    height: 350px;
    top: 5%;
    left: 75%;
    /*opacity: 0.7;*/
}

.anotherGoblin {
    position: absolute;
    width: 175px;
    height: 224px;
    top: 55%;
    left: 30%;
    opacity: 0.7;
}


/*Style the hamburger button that open side slide menu*/

.openMenu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    border: 3px solid white;
    color: white;
    z-index: 1;
}


/*Turns hamburger white and background black when hover*/

.openMenu:hover {
    color: lightgray;
    background-color: black;
}


/*This is the styling to adjust for medium sized screens*/

@media screen and (max-width: 770px) {
    /*Style the quote that is found on the main page*/
    #main .quoteOfTheDay {
        position: absolute;
        top: 30%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        color: #cc0000;
        text-shadow: 2px 2px 2px black, -2px -2px 2px black, 4px 4px 3px white, -4px -4px 3px white;
        font-size: 5em;
        /*background: linear-gradient(to right, #bc0505, #e09d9d, #bc0505);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
        font-family: 'Creepster', cursive;
        /*font-family: "Fredericka the Great", cursive;*/
    }
    /*Style the byline for the quote on the main page*/
    #main .byLine {
        position: absolute;
        top: 50%;
        left: 60%;
        text-align: center;
        transform: translate(-50%, -50%);
        color: #cc0000;
        text-shadow: 2px 2px 2px black, -2px -2px 2px black, 4px 4px 3px white, -4px -4px 3px white;
        font-size: 3em;
        /*background: linear-gradient(to right, #bc0505, #e09d9d, #bc0505);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
        /*font-family: "Fredericka the Great", cursive;*/
        font-family: 'Creepster', cursive;
    }
    .bookImage {
        top: 50vh;
        left: 20%;
        position: relative;
        width: 30%;
        /*height: 700px;*/
        transform: translate(-50%, -50%);
    }
    #main h1 {
        font-size: 25px;
        top: 50%;
        left: 5%;
    }
    /*Styling the actual pages for the books*/
    .goblinQuestBook {
        color: white;
        text-shadow: 2px 2px 2px black;
        position: absolute;
        background-image: url("./resources/newSpookyWoods.jpg");
        /*background: radial-gradient(#145604, #2ece06, #145604);*/
        box-shadow: 3px 3px 3px white, -3px -3px 3px white, 5px 5px 3px black, -5px -5px 3px black;
        width: 100vw;
        height: 70vh;
        /*top: 50vh;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 7px;
        box-shadow: 3px 3px 3px gray;*/
    }
    .title {
        position: absolute;
        text-align: center;
        font-family: 'Eater', cursive;
        color: #cc0000;
        text-shadow: 2px 2px 2px black, -2px -2px 2px black, 4px 4px 3px white, -4px -4px 3px white;
        font-size: 5em;
        top: 1%;
        left: 10%;
    }
    .goblinQuestBook p {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 20px;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    /*Styling and positioning the text for choice 1 */
    .choiceOne {
        position: absolute;
        top: 80%;
        left: 2%;
        text-align: center;
    }
    /*Styling and positioning the button for choice 1*/
    .choiceOneButton {
        background-color: #cc0000;
        color: white;
        box-shadow: 2px 2px 2px white;
    }
    /*Styling and positioning the text for choice 2 */
    .choiceTwo {
        position: absolute;
        top: 80%;
        left: 75%;
        text-align: center;
    }
    .choiceTwo button {
        position: absolute;
        top: 80%;
        left: 30%;
        text-align: center;
    }
    .playTTS {
        position: absolute;
        top: 75%;
        left: 50%;
    }
    .reset {
        position: absolute;
        background-color: black;
        color: red;
        top: 85%;
        left: 50%;
        text-align: center;
        box-shadow: 3px 3px 3px white;
    }
    .thunderGoblinOne {
        position: absolute;
        width: 210px;
        height: 280px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -10;
        opacity: .4;
    }
    .anotherGoblin {
        position: absolute;
        width: 175px;
        height: 224px;
        top: 70%;
        left: 25%;
        opacity: 0.7;
    }
}


/*This is the media query for styling on smaller screens*/

@media screen and (max-width: 440px) {
    /*Style the quote that is found on the main page*/
    #main .quoteOfTheDay {
        position: absolute;
        top: 30%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        color: #cc0000;
        text-shadow: 2px 2px 2px black, -2px -2px 2px black, 4px 4px 3px white, -4px -4px 3px white;
        font-size: 3em;
        /*background: linear-gradient(to right, #bc0505, #e09d9d, #bc0505);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;*/
        font-family: 'Creepster', cursive;
        /*font-family: "Fredericka the Great", cursive;*/
    }
    /*Style the byline for the quote on the main page*/
    #main .byLine {
        position: absolute;
        top: 60%;
        left: 60%;
        text-align: center;
        transform: translate(-50%, -50%);
        color: #cc0000;
        text-shadow: 2px 2px 2px black, -2px -2px 2px black, 4px 4px 3px white, -4px -4px 3px white;
        font-size: 2em;
        /*background: linear-gradient(to right, #bc0505, #e09d9d, #bc0505);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;*/
        /*font-family: "Fredericka the Great", cursive;*/
        font-family: 'Creepster', cursive;
    }
    .bookImage {
        top: 50vh;
        left: 20%;
        position: relative;
        width: 30%;
        /*height: 700px;*/
        transform: translate(-50%, -50%);
    }
    #main h1 {
        font-size: 25px;
        top: 50%;
        left: 5%;
    }
    /*Styling the actual pages for the books*/
    .goblinQuestBook {
        position: absolute;
        background-image: url("./resources/newSpookyWoods.jpg");
        background-size: cover;
        /*background: radial-gradient(#145604, #2ece06, #145604);*/
        box-shadow: 3px 3px 3px white, -3px -3px 3px white, 5px 5px 3px black, -5px -5px 3px black;
        width: 100vw;
        height: 80vh;
        /*top: 50vh;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 7px;
        box-shadow: 3px 3px 3px gray;*/
    }
    .title {
        position: absolute;
        text-align: center;
        font-family: 'Eater', cursive;
        color: #cc0000;
        text-shadow: 2px 2px 2px black, -2px -2px 2px black, 4px 4px 3px white, -4px -4px 3px white;
        font-size: 2em;
        top: 1%;
        left: 15%;
    }
    .goblinQuestBook p {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 20px;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    /*Styling and positioning the text for choice 1 */
    .choiceOne {
        position: absolute;
        top: 80%;
        left: 2%;
        text-align: center;
    }
    /*Styling and positioning the button for choice 1*/
    .choiceOneButton {
        background-color: #cc0000;
        color: white;
        box-shadow: 2px 2px 2px white;
        left: 25%;
    }
    /*Styling and positioning the text for choice 2 */
    .choiceTwo {
        position: absolute;
        top: 80%;
        left: 55%;
        text-align: center;
    }
    .playTTS {
        position: absolute;
        background-color: white;
        top: 20%;
        left: 40%;
    }
    .reset {
        position: absolute;
        background-color: black;
        color: red;
        top: 70%;
        left: 40%;
        text-align: center;
        box-shadow: 3px 3px 3px white;
    }
    .thunderGoblinOne {
        position: absolute;
        width: 210px;
        height: 280px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -10;
        opacity: .4;
    }
    .anotherGoblin {
        visibility: hidden;
    }
}
