body {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url(./resources/island.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body form {
    text-shadow: 6px, 6px, 6px, black;
    color: white;
    text-align: left;
    position: absolute;
    text-align: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Eczar', serif;
}

.mainTitle {
    position: absolute;
    font-family: 'Prociono', serif;
    color: red;
    font-size: 4em;
    text-shadow: 2px 2px 2px black, 3px 3px 10px white;
    left: 50%;
    top: 5%;
    transform: translate(-50%, -50%);
}

.subTitle {
    position: absolute;
    color: red;
    font-family: 'Prociono', serif;
    text-shadow: 2px 2px 2px black, 3px 3px 10px white;
    font-size: 3em;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, -50%);
}

.loginButton {
    position: absolute;
    bottom: -40%;
    left: 85%;
}

.registerButton {
    position: absolute;
    bottom: -40%;
    left: -20%;
}


/*body form button {
    text-shadow: 6px, 6px, 6px, black;
    color: white;
    text-align: left;
    position: absolute;
    bottom: -40%;
    left: 100%;
    transform: translate(-50%, -50%);
}*/

.authBox {
    position: relative;
    /*opacity: 0.6;*/
    height: 55%;
    width: 55%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
