<!-- This is kids level2 HTML -->

<div class="row">
    <div class="col-xs-6 col-md-3 bookImage">
        <a href="#" class="thumbnail">
            <img src="./css/resources/comingSoon.png" alt="Coming Soon">
        </a>
    </div>
    <div class="col-xs-6 col-md-3 bookImage">
        <a href="#" class="thumbnail">
            <img src="./css/resources/comingSoon.png" alt="Coming Soon">
        </a>
    </div>
    <div class="col-xs-6 col-md-3 bookImage">
        <a href="#" class="thumbnail">
            <img src="./css/resources/comingSoon.png" alt="Coming Soon">
        </a>
    </div>
</div>
