<!DOCTYPE html>
<html ng-app="module.login">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1.0">
    <!-- <link rel="stylesheet" href="./css/normalize.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=Eczar" rel="stylesheet">
    <link rel="stylesheet" href="/css/landing.css">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Prociono" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
    <!-- This script tage is for routing -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.js"></script>
    <title>Adventure Reading Login</title>
</head>

<body ng-controller="controller.login as login">
    <h1 class="mainTitle">ADVENTURE READING</h1>

    <div class="authBox">
        <form ng-hide="login.hereItIs" ng-submit="login.submit()">
            <h3>EMAIL: </h3><input type="text" placeholder="email" ng-model="login.email" class="form-control">
            <h3>PASSWORD: </h3><input type="password" placeholder="Password" ng-model="login.password" class="form-control">
            <button class="loginButton btn btn-success btn-lrg" type="submit">Login</button>
            <button class="registerButton btn btn-primary" ng-click="login.showTheStuff()">Register</button>
        </form>
    </div>




    <div ng-show="login.hereItIs">
        <form ng-submit="login.createUser()">
            <h5>UserName</h5>
            <input class="form-control" type="text" placeholder="User Name" ng-model="login.newUser.userName">
            <h5>Email</h5>
            <input class="form-control" type="text" placeholder="Email" ng-model="login.newUser.email">
            <h5>Name</h5>
            <input class="form-control" type="text" placeholder="Name" ng-model="login.newUser.name">
            <h5>Password</h5>
            <input class="form-control" type="password" placeholder="Password" ng-model="login.newUser.password">
            <button style="position: absolute; top:105%; left: 90%" class="form-control btn btn-success " type="submit " name="button ">Submit</button>
            <a href="/"><button style = "position: absolute; top: 105%; left: -80%"class = "form-control btn btn-danger"type="button" name="button">Login</button></a>

        </form>
    </div>

    <h1 class="subTitle">WORLDS AWAIT WITHIN</h1>


    <script type="text/javascript " src="/module.login.js "></script>
</body>

</html>
