<div>
    <form ng-submit="login.createUser()">
        <input class="form-control" type="text" placeholder="User Name" ng-model="login.newUser.userName">
        <input class="form-control" type="text" placeholder="Email" ng-model="login.newUser.email">
        <input class="form-control" type="text" placeholder="Name" ng-model="login.newUser.name">
        <input class="form-control" type="password" placeholder="Password" ng-model="login.newUser.password">
        <button class="form-control" type="submit" name="button">Submit</button>
    </form>

</div>
