<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1.0">

    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">

    <!-- Main css -->
    <link rel="stylesheet" href="./css/main.css">

    <!-- Fantasy css -->
    <link rel="stylesheet" href="./css/scifi.css">

    <!-- These are Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ravi+Prakash" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <!-- jQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
    <!-- bootstrap js  -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- For angular -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
    <!-- This is for angular animate -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-animate.js"></script>

    <!-- This script tag is for routing -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.js"></script>

    <title>Adventure Reading</title>

</head>

<body ng-controller="MainCtrl as main">
    <!-- This is the slide menu -->
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#" ng-click="main.showTheQuote()">Main Page</a>
        <a href="/index" type="submit">Home</a>
        <!-- <a href="index.html">Home</a> -->
        <a href="#level1" onclick="closeNav()" ng-click="main.hideTheQuote()"=>Level 1</a>
        <a href="#level2" onclick="closeNav()" ng-click="main.hideTheQuote()">Level 2</a>
        <a href="#level3" onclick="closeNav()" ng-click="main.hideTheQuote()">Level 3</a>
        <a href="#level4" onclick="closeNav()" ng-click="main.hideTheQuote()">Level 4</a>
        <a href="javascript:void(0)" onclick="openNestedNav(); closeNav()">Genres</a>

    </div>

    <!-- This is the nested slide menu -->
    <div id="myNestedSidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNestedNav()">&times;</a>
        <a href="/fantasy">Fantasy</a>
        <a href="/scifi">SciFi</a>
        <a href="/love">Love</a>
        <a href="/horror">Spooky</a>
        <a href="/kids">By Kids for Kids</a>
        <a href="javascript:void(0)" onclick="closeNestedNav(); openNav()">Back</a>
        <a href="/logout">Logout</a>
    </div>


    <div class="container-fluid">


        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form ng-submit="main.addAUser()">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">New User</h4>
                        </div>
                        <div class="modal-body">
                            <input class="form-control" type="text" ng-model="main.name" placeholder="Name">
                            <input class="form-control" type="text" ng-model="main.age" placeholder="Age">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                    </form>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <!-- The header sets the full page landing page -->
    <header id="main">
        <!-- This is the hamburger menu button that opens the slide menu -->
        <button type="button" class="btn btn-default btn-lg openMenu" onclick="openNav()">
        <span class = "glyphicon glyphicon-menu-hamburger" aria-hidden = "true"></span>MENU
      </button>

        <!-- This is the quote on the main page for SciFi need to find a better way to hide this -->
        <h1 class="quoteOfTheDay" ng-show="main.showQuote">“DO I DARE / DISTURB THE UNIVERSE"</h1>
        <h1 class="byLine" ng-show="main.showQuote">—T. S. Eliot, “The Love Song of J. Alfred Prufrock”</h1>

        <ng-view>

        </ng-view>
    </header>





    <!-- This is the TTS JS tag -->
    <script src="http://code.responsivevoice.org/responsivevoice.js"></script>
    <script type="text/javascript" src="./javascript/myModule.js"></script>
    <script type="text/javascript" src="./javascript/front-end-controllers/myControllers.scifi.js"></script>
    <script type="text/javascript" src="./javascript/midterm.js"></script>
</body>

</html>
